In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Para este capítulo usaremos o SQLite: https://sqlite.org/index.html

In [ ]:
import sqlite3

In [ ]:
sqlite3.sqlite_version

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

In [ ]:
# Conecta no banco de dados
con = sqlite3.connect('dados.db')

In [ ]:
# Abre um cursor para percorrer os dados no banco de dados
cursor = con.cursor()

In [ ]:
# Query SQL para extrair os nomes das colunas no banco de dados
sql_query = """SELECT name FROM sqlite_master WHERE type = 'table';"""

In [ ]:
# Executa a query
cursor.execute(sql_query)

In [ ]:
# Visualiza o resultado
print(cursor.fetchall())

> A query abaixo retorna todas as linhas e todas as colunas da tabela.

In [ ]:
# Cria uma instrução SQL
query1 = 'SELECT * FROM tb_vendas'

In [ ]:
# Executa a query no banco de dados
cursor.execute(query1)

In [ ]:
# List comprehension para visualizar os nomes das colunas
nomes_colunas = [description[0] for description in cursor.description]

In [ ]:
# Visualiza o resultado
print(nomes_colunas)

In [ ]:
# Retorna os dados da execução da query
dados = cursor.fetchall()

In [ ]:
# Visualiza os dados
dados

## Aplicando Linguagem SQL Direto no Banco de Dados com Linguagem Python

> A query abaixo retorna a média de unidades vendidas.

In [ ]:
# Cria uma instrução SQL para calcular a média de unidades vendidas
query2 = 'SELECT AVG(Unidades_Vendidas) FROM tb_vendas'

In [ ]:
# Executa a query no banco de dados
cursor.execute(query2)

In [ ]:
# Visualiza o resultado
print(cursor.fetchall())

> A query abaixo retorna a média de unidades vendidas por produto.

In [ ]:
# Cria uma instrução SQL para calcular a média de unidades vendidas por produto
query3 = 'SELECT Nome_Produto, AVG(Unidades_Vendidas) FROM tb_vendas GROUP BY Nome_Produto'

In [ ]:
# Executa a query no banco de dados
cursor.execute(query3)

In [ ]:
# Visualiza o resultado
cursor.fetchall()

> A query abaixo retorna a média de unidades vendidas por produto se o valor unitario for maior do que 199.

In [ ]:
# Cria uma instrução SQL para calcular a média de unidades vendidas por produto,
# quando o valor unitário for maior que 199
query4 = """SELECT Nome_Produto, AVG(Unidades_Vendidas) 
            FROM tb_vendas 
            WHERE Valor_Unitario > 199 
            GROUP BY Nome_Produto"""

In [ ]:
# Executa a query no banco de dados
cursor.execute(query4)

In [ ]:
# Visualiza o resultado
cursor.fetchall()

> A query abaixo retorna a média de unidades vendidas por produto se o valor unitario for maior do que 199 e somente se a média de unidades vendidas for maior do que 10.

In [ ]:
# Executa a query no banco de dados
# cursor.execute(query5)

In [ ]:
# Cria uma instrução SQL para calcular a média de unidades vendidas por produto,
# quando o valor unitário for maior que 199, mas somente se a média de unidades vendidas for maior que 10
query5 = """SELECT Nome_Produto, AVG(Unidades_Vendidas) 
            FROM tb_vendas
            WHERE Valor_Unitario > 199 
            GROUP BY Nome_Produto 
            HAVING AVG(Unidades_Vendidas) > 10"""

In [ ]:
# Executa a query no banco de dados
cursor.execute(query5)

In [ ]:
# Visualiza o resultado
cursor.fetchall()

In [ ]:
# Fecha o cursor e encerra a conexão
cursor.close()
con.close()

## Aplicando Linguagem SQL na Sintaxe do Pandas com Linguagem Python

In [ ]:
# Conecta no banco de dados
con = sqlite3.connect('dados.db')

In [ ]:
# Abre um cursor para percorrer os dados no banco de dados
cursor = con.cursor()

> A query abaixo retorna todas as linhas e todas as colunas da tabela.

In [ ]:
# Cria uma instrução SQL
query = 'SELECT * FROM tb_vendas'

In [ ]:
# Executa a query no banco de dados
cursor.execute(query)

In [ ]:
# Retorna os dados da execução da query
dados = cursor.fetchall()

In [ ]:
dados

In [ ]:
type(dados)

In [ ]:
# Carrega os dados como dataframe do Pandas
df = pd.DataFrame(dados, columns = ['ID_Pedido', 
                                    'ID_Cliente', 
                                    'Nome_Produto',
                                    'Valor_Unitario',
                                    'Unidades_Vendidas',
                                    'Custo'])

In [ ]:
df.head()

In [ ]:
# Fecha o cursor e encerra a conexão
cursor.close()
con.close()

> A query abaixo retorna a média de unidades vendidas.

In [ ]:
# Calcula a média de unidades vendidas
media_unidades_vendidas = df['Unidades_Vendidas'].mean()

In [ ]:
type(media_unidades_vendidas)

In [ ]:
print(media_unidades_vendidas)

> A query abaixo retorna a média de unidades vendidas por produto.

In [ ]:
# Calcula a média de unidades vendidas por produto
media_unidades_vendidas_por_produto = df.groupby('Nome_Produto')['Unidades_Vendidas'].mean()

In [ ]:
# Visualiza os 10 primeiros resultados
print(media_unidades_vendidas_por_produto.head(10))

> A query abaixo retorna a média de unidades vendidas por produto se o valor unitario for maior do que 199.

In [ ]:
# Retorna a média de unidades vendidas por produto se o valor unitario for maior do que 199.
df[df['Valor_Unitario'] > 199].groupby('Nome_Produto')['Unidades_Vendidas'].mean()

> A query abaixo retorna a média de unidades vendidas por produto se o valor unitario for maior do que 199 e somente se a média de unidades vendidas for maior do que 10.

In [ ]:
# Alternativa A
df[df['Valor_Unitario'] > 199].groupby('Nome_Produto').filter(lambda x: x['Unidades_Vendidas'].mean() > 10)

In [ ]:
# Alternativa B
df[df['Valor_Unitario'] > 199].groupby('Nome_Produto') \
                              .filter(lambda x: x['Unidades_Vendidas'].mean() > 10) \
                              .groupby('Nome_Produto')['Unidades_Vendidas'].mean()

## Sintaxe SQL x Sintaxe Pandas

As duas instruções abaixo retornam o mesmo resultado!

In [ ]:
# Sintaxe SQL
query5 = """SELECT Nome_Produto, AVG(Unidades_Vendidas) 
            FROM tb_vendas
            WHERE Valor_Unitario > 199 
            GROUP BY Nome_Produto 
            HAVING AVG(Unidades_Vendidas) > 10"""

In [ ]:
# Sintaxe Pandas
df[df['Valor_Unitario'] > 199].groupby('Nome_Produto') \
                              .filter(lambda x: x['Unidades_Vendidas'].mean() > 10) \
                              .groupby('Nome_Produto')['Unidades_Vendidas'].mean()